<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="https://avatars1.githubusercontent.com/u/49449271?s=400&u=8e927bbd00e36b62889004ea2d19132c2794eb4f&v=4"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Obikaonu Samuel</h3>
      </div>

      <div class="text-center">@sam_icey</div>
      <div class="text-center">
        <a href="https://github.com/samicey">Samuel (Github)</a>
      </div>
    </div>
  </div>
</div>


